<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task4-Sreejith</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/task4">Insert</a>
            </li>
            <li>
                <a href="/task4/view">View</a>
            </li>
        </ul>
    </nav>

    <h1>View Data</h1>

    <table border="1">
        <tr>
            <th>Sl. No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Address</th>
            <th>Pincode</th>
            <th>Phone</th>
        </tr>
        {{#each users}}
        <tr>
            <td>{{@index}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{dob}}</td>
            <td>{{address}}</td>
            <td>{{pincode}}</td>
            <td>{{phone}}</td>
        </tr>
        {{/each}}
    </table>

    <div>
        <ul style="list-style-type: none">
                <li>
                    <a href="/task4/view?p=1">First</a>
                </li>
                <li>
                    <a href="/task4/view?p={{pageCount}}">Last</a>
                </li>
                <li>
                    <a href="/task4/view?p={{prevPage}}">Previous</a>
                </li>
            {{#each pages}}
                <li>
                    <a href="/task4/view?p={{this}}">{{this}}</a>
                </li>
            {{/each}}
            <li>
                <a href="/task4/view?p={{nextPage}}">Next</a>
            </li>
            <li>
                <form action="/task4/view" method="GET">
                    <label for="pageNumber">Go to Page: </label>
                    <input type="number" id="pageNumber" name="p" min="1" value="{{currentPage}}" required>
                <button type="submit">Go</button>
            </form>
            </li>
        </ul>
    </div>
</body>

</html>
